.seats{
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
}
.seats__label{
    text-align: start;
}
.seats__form{
    
    text-align: center;
    display: flex;
    flex-direction:row; 
}