.loc__form {
    text-align: start;
    font-weight: 500;
}

.loc__pick {
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
    
}

.loc__drop {
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.loc__date {
     font-weight: 500;
}
.loc__button {
    color: rgb(194, 181, 181);
    background-color: rgb(56, 45, 45);
    width: 15%;
    height: 55px;
    margin-bottom: $off-msize;
}
